<div id="adminBar">
    <div id="adminBarContent">
        <ul>
            <li>
                Quotes
                <div class="adminBubble right">
                    0
                </div>
            </li>
            <li>
                Pictures
                <div class="adminBubble right">
                    0
                </div>
            </li>
            <li>
                <div class="adminBubble right">
                    0
                </div>
            </li>
            <li>
                Einstellungen
                <div class="adminBubble right">
                    0
                </div>
            </li>
        </ul>
    </div>
</div>