        <br style="clear: left;" />
        <div id="forumBox">
            <div id="forumBoxHead">
                FORUM:
            </div>
            <div id="forumBoxContent">
                Lorem ipsum
            </div>
        </div>
    </div>