<div id="quoteBox" class="userBox" style="width: 100%;">
    <div id="userHead">
        <div class="left username">
            babo
        </div>
        <div class="right ribbon">
            <img src="template/default/resources/images/ribbon_03.png" />
        </div>
        <br style="clear: both;" />
    </div>
</div>