<div class="forum_controller">Haben Sie ein moment Geduld</div>
{$data|print_r}
<script language=javascript>
    var id = {$data.id};
 </script>  
{literal} 
<script language=javascript>
window.location.href = "index.php?site=forum&action=thread&id="+id;
</script>
{/literal}
