{block name="index_header_javasacript"}
    <script>
        {literal}
        tinymce.init({selector:'textarea'});
        {/literal}
    </script>
 {/block}
<form action="?site=forum&action=controller&method=newthread" method="post">
    <label>Betreff :</label><input type="text" name="betreff">
    <textarea name="content" id="content"></textarea>
    <input type="submit" value="Thread Posten">
</form>