		<div id="submitForm">
			<form action="index.php?site=quotes&e=add" method="post">
				<h3>Quote Hinzufügen:</h3>
				Titel:<br />
				<input type="text" name="titel" /><br /><br />
				Text:<br />
				<textarea name="text" cols="119" rows="15"></textarea><br /><br />
				<input type="submit" name="submit" value="Abschicken!" />
			</form> 
		</div>