                #footerBar {
                    z-index: 11;
                    position: fixed;
                    bottom: 0;
                    background: url(../images/footer.png) repeat-x;
                    height: 38px;
                    width: 100%;
                }
                #footerContent {
                    width: 1000px;
                    margin-left: auto;
                    margin-right: auto;
                    color: #fff;
                    
                }
                #buddy {
                    background: url(../images/footer_bar.png) repeat-x;
                    height: 25px;
                    width: 190px;
                    padding-left: 30px;
                    padding-top: 13px;
                    font-size: 12px;
                    font-family: 'Open Sans', sans-serif;
                    cursor: pointer;
                    -moz-user-select:none;
                }
                #buddy:hover {
                    background: url(../images/footer_bar_h.png) repeat-x;
                }
                .chatWindow {
                    background: url(../images/footer_bar.png) repeat-x;
                    height: 25px;
                    width: 190px;
                    padding-left: 30px;
                    padding-top: 13px;
                    font-size: 12px;
                    font-family: 'Open Sans', sans-serif;
                    cursor: pointer;
                    -moz-user-select:none;
                }
                .chatWindow:hover {
                    background: url(../images/footer_bar_h.png) repeat-x;
                }
                .chatBoxOpen {
                    width: 220px;
                    height: 400px;
                    background-color: #fff;
                    postion: absolute;
                    z-index: 12;
                    bottom: 0;
                }