.serror {
    	margin-top: 5px;
	background-position: 5px;
	color: #c00;
	padding-left: 28px;
	padding-top:3px;
	padding-bottom: 3px;
	background-color: #fee;
	border-color: #c00;
	border-width: 1px;
	border-style:solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-family: arial;
	font-size: 12px;
}
.GroupS {
	background-color: #EEE;
	padding-left: 5px;
}
.GroupS a:hover {
	color: #FF8C00;
	text-decoration: underline;
}
.Big {
	font-size: 25px;
	font-family: arial;
	font-weight: bold;
	color: #164369;
	text-shadow: 0 2px 3px #bbb;
	padding-left: 10px;
}
.GroupSa a {
	font-size: 13px;
	font-family: arial;
	font-weight: bold;
	color: #164369;
	text-shadow: 0 2px 3px #bbb;
	padding-left: 20px;
}
.GroupSa a:hover {
	color: #FF8C00;
	text-decoration: underline;
}
.tHLeft  {
	background: url(../images/navi1.gif) repeat-x 100% -23px;
	height: 23px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	font-size: 12px;
	font-family: arial;
	padding-left: 5px;
	border-bottom: 1px #A6A6A6 solid;
}
.tHMid  {
	background: url(../images/navi1.gif) repeat-x 100% -23px;
	height: 23px;
	font-size: 12px;
	font-family: arial;
	padding-left: 5px;
	border-bottom: 1px #A6A6A6 solid;
}
.tHRight  {
	background: url(../images/navi1.gif) repeat-x 100% -23px;
	height: 23px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	font-size: 12px;
	font-family: arial;
	padding-left: 5px;
	border-bottom: 1px #A6A6A6 solid;
}
.coment {
	margin-top: 30px;
	margin-bottom: 0px;
	box-shadow: 0px 2px 5px #ccc;
	-webkit-box-shadow: 0px 2px 5px #ccc;
	background: url(../images/bg3.png);
	-moz-box-shadow: 0px 2px 5px #ccc;
	padding: 10px;
	border: 1px #CCC solid;
	background-color: #f2f2f2;
}
.FileTitel a  {
	font-size: 15px;
	font-family: arial;
	font-weight: bold;
	color: #164369;
	text-shadow: 0 2px 3px #bbb;
	padding-left: 20px;
}
.FileTitel a:hover {
	color: #FF8C00;
	text-decoration: underline;
}
		
.left {
	float: left;
}
.right {
       float: right;
}

.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 5px 10px;
	background: -moz-linear-gradient(
		top,
		#dbf2ff 0%,
		#669ced);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#dbf2ff),
		to(#669ced));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #aaa;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px -1px 0px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px -1px 0px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px -1px 0px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 1px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
	margin-left: 5px;
}
.userlink {
	font-size: 24px;
	font-family: 'Anton', sans-serif;
	font-weight: bold;
	margin-right: 50px;
}
.inputtext > input {
    border: 1px solid grey;
    border-radius: 4px 4px 4px 4px;
}
.pnbutton{
    float:left;
    list-style: none;
    margin-right:2px;
}
.msgbox > div {
    border: 1px solid #888888;
    margin: 10px;
    padding: 10px;
}
.menuepn {
    height: 45px;
    width: 230px;
}
.msgbox{
    width: 100%;
}