/* 
    Document   : plugin.css
    Created on : 18.08.2013, 12:02:00
    Author     : Marvin
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}


.menue{height:20px;}
.menue li{float:left;display:block;margin:5px;}

.listthread {
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    float: left;
    height: 124px;
    margin: 5px;
    padding: 5px;
    width: 200px;
}
.listthread a{
    color:red;
    font-family: 'Anton',sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 5px #CCCCCC;
    text-decoration:none;
}

.footer {
    float: left;
    width: 100%;
}

 
    #forumedit > a {
    font-family: 'Anton',sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 5px #CCCCCC;
    color:#E01B7E;
    text-decoration:none;
}
.post {
    border:1px #888 solid;
    margin: 10px;
    padding: 10px;
    border-radius:10px;
    }
.post hr{color:threedshadow;}
.post #user{background:#F0F0F0;border: 1px outset threedshadow;padding:5px;}
.post #date{background:#F0F0F0;border: 1px outset threedshadow;padding:5px;}
.post #post{padding:5px; margin-left: 10px; width: 788px; min-height: 250px; border-bottom: 1px #ccc solid;}
.post .postinfo {
    min-height: 25px;
    font-size: 12px;
    color: #bbb;
    padding-top: 5px;
}
.forum_head {
    background: url(../images/top_bar.png) repeat-x;
    height: 23px;
    padding-top: 7px;
    font-family: Arial;
    font-size: 14px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 1px #ccc solid;
}
.forum_collum {
    height: 23px;
    padding-top: 7px;
}
.forum_collum:hover {
    background-color: #f2feff;
}
.forum_button {
    height: 24px;
    padding-top: 8px;
    font-family: Arial;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #aaa;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
    background: #ff5db1; /* Old browsers */
    background: -moz-linear-gradient(top, #ff5db1 0%, #ef017c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff5db1), color-stop(100%,#ef017c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ff5db1 0%,#ef017c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ff5db1 0%,#ef017c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ff5db1 0%,#ef017c 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ff5db1 0%,#ef017c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#ef017c',GradientType=0 ); /* IE6-9 */
    cursor: pointer;
    color:#fff;
}
.forum_button a {
    color: #fff;
}
.forum_button a:visited {
    color: #fff;
}
.avatar {
    width: 100px;
    height: 100px;
}
.forum_p_left {
    width: 130px;
    text-align: center;
}
#forumcontent {
    width: 450px;
    margin-left: 10px;
}