        .likeContainer {
            position: absolute;
            z-index: 6;
            margin-top: -40px;
            margin-left: 920px;
            display: none;
            -moz-user-select:none;
        }
        .likeContainer .like  {
            opacity: 0.2;
            -moz-user-select:none;
            cursor: pointer;
        }
        .likeContainer .dislike {
            opacity: 0.2;
            -moz-user-select:none;
            cursor: pointer;
        }
        .likeContainer .likeActive {
            opacity: 0.5;
        }
        .likeContainer .like:hover {
            opacity: 0.5;
        }
        .likeContainer .dislike:hover {
            opacity: 0.5;
        }
        .quotecontainer:hover > .likeContainer {
            display: block;
        }