#loginForm {
	width: 400px;
	min-height: 160px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	background-color: #E8E6E7;
	box-shadow: 0px 5px 5px #dfdfdf;
	padding: 10px;
}
	#loginForm h3 {
		margin-top: 4px;
		margin-left: 0px;
		margin-bottom: 0px;
		border-bottom: 1px #000 dashed;
		padding-bottom: 2px;
	}
	
	#loginForm input[type="text"] {
		border: none;
		border-radius: 5px;
		height: 20px;
		width: 200px;
		margin-top: 5px;
		border: 1px #ccc solid;
		padding-left: 5px;
	}
	#loginForm input[type="text"]:focus {
		box-shadow: 2px 2px 5px #ccc inset;
	}
	#loginForm input[type="password"] {
		border: none;
		border-radius: 5px;
		height: 20px;
		width: 200px;
		margin-top: 5px;
		border: 1px #ccc solid;
		padding-left: 5px;
	}
	#loginForm input[type="password"]:focus {
		box-shadow: 2px 2px 5px #ccc inset;
	}
.anmelden {
	padding-left: 23px;
	font-size: 24px;
	padding-top: 50px;
	color: #7E1BE0;
	font-weight: bold;
	text-shadow: 0px 3px 5px #aaa;
	font-family: 'Anton', sans-serif;
}
	.anmelden a {
		color: #7E1BE0;
	}
	#submitForm input[type="text"] {
		border: none;
		border-radius: 5px;
		height: 20px;
		width: 200px;
		margin-top: 5px;
		border: 1px #ccc solid;
		padding-left: 5px;
	}
	#submitForm input[type="text"]:focus {
		box-shadow: 2px 2px 5px #ccc inset;
	}