	.red {
		color: red;
		font-weight: bold;
	}
	.green {
		color: green;
		font-weight: bold;
	}
	.cont {
		width: 150px;
	}
#alertbox {
	width: 300px;
	z-index: 10;
	position: absolute;
	right: 0;
	margin-right: 20px;
	margin-top: 20px;
}
	.alert {
		min-height: 30px;
		padding: 10px;
		color: #fff;
		border-radius: 3px;
		box-shadow: 0px 2px 5px #ccc;
		cursor: default;
		-moz-user-select:none;
	}
		.a_head  {
			border-bottom: 1px #fff dashed;
			margin-bottom: 5px;
			font-weight: bold;
		}
			.a_close {
				z-index: 11;
				position: absolute;
				margin-top: -5px;
				margin-left: 275px;
				color: #fff;
				font-weight: bold;
				cursor: pointer;
				display: none;
			}
	.alert:hover > .a_close {
		display: block;
	}
	.warning {
		background: url(../images/alert_warning.png) repeat-x;
	}
	.good {
		background: url(../images/alert_good.png) repeat-x;
	}
	.info {
		background: url(../images/alert_info.png) repeat-x;
	}
        #notification {
            margin-right: 10px;
        }
        .bubble {
            background-color: #E80046;
            color: #fff;
            border-radius: 2px;
            width: 13px;
            padding: 2px;
            text-align: center;
            position: absolute;
            z-index: 20;
            margin-top: -32px;
            margin-left: 20px;
            font-weight: bold;
            font-size: 12px;
            text-shadow: 0px 0px 2px #aaa;
            box-shadow: 0px 2px 5px #666;
        }
        #notificationContainer {
            z-index: 35;
            position: fixed;
            top: 5;
            margin-left: -100px;
            width: 300px;
            min-height: 190px;
            background: url(../images/top_not.png);
            border-radius: 10px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border: 1px #333 solid;
            border-top: none;
            box-shadow: 0px 2px 3px #bbb;
            padding-top: 10px;
        }
        .notiMessage {
            border-radius: 10px;
            box-shadow: 0px 2px 2px #bbb;
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 5px;
            margin-bottom: 10px;
        }
        #notificationContainer h3 {
            margin: 0px;
            padding: 0px;
            font-size: 14px;
            border-bottom: 1px #000 dashed;
            margin-bottom: 5px;
        }