
.picturecontainer {
	width: 200px;
	height: 200px;
	margin-left: 25px;
	margin-right: 20px;
	margin-bottom: 25px;
}
	.picturecontainer img {
		height: 200px;
		width: 200px;
		box-shadow: 0px 3px 5px #bbb;
		border-radius: 10px;
	}

	.img_h {
		width: 200px;
		height: 200px;
		background: url(../images/img_hover2.png) no-repeat;
		display: block;
		z-index: 11;
		position: absolute;
		display: none;
		margin-top: -203px;
		cursor: pointer;
		border-radius: 10px;
	}
	.img_h_head {
		color: #fff;
		font-size: 14px;
		font-weight: bold;
		margin-top: 20px;
		margin-left: 20px;
		margin-right: 20px;
		border-bottom: 2px #fff solid;
		text-align: center;
	}
	.img_h_foot {
		color: #fff;
		font-size: 12px;
		font-weight: bold;
		margin-top: 310px;
		margin-left: 20px;
		margin-right: 20px;
	}
	.picturecontainer:hover > .img_h {
		display: block;
	}
        
        .picture_big {
            position: fixed;
            z-index: 25;
            top: 0;
            min-width: 800px;
            min-height: 400px;
            margin-top: 2%;
            margin-left: auto;
            margin-right: auto;
            background-color: #000;
        }
        .picture_big_cont {
            text-align: center;
            min-width: 500px;
            display: table-cell;
            vertical-align: middle;
            position: absolute;
        }
        .picture_big_cont img {
            max-width: 800px;
            max-height: 800px;
            display: table-cell;
            vertical-align: middle;
        }
        .picture_big_right {
            width: 280px;
            background-color: #fff;
            min-height: 400px;
            box-shadow: 2px 0px 5px #bbb inset;
            padding: 10px;
        }