        
.quotecontainer {
	padding: 5px;
	box-shadow: 0px 5px 5px #dfdfdf;
	border-radius: 10px;
	margin-bottom: 20px;
}
.qhead {
	font-size: 28px;
	color: #000;
	text-shadow: 0px 0px 5px #ccc;
	font-weight: bold;
	font-family: 'Anton', sans-serif;
	border-bottom: 1px #dfdfdf solid;
	margin-bottom: 10px;
	-moz-user-select:none;
	cursor: default;
}
.qcontent {
	border-bottom: 1px #dfdfdf solid;
	margin-bottom: 5px;
	padding-bottom: 5px;
	min-height: 50px;
	font-size: 14px;
}

.qfoot {
	opacity: 0.3;
	margin-left: 5px;
}
#quotecontent {
    width: 490px;
    margin-right: 10px;
    margin-bottom: 50px;
}
.quotelink {
    border-bottom: 1px #eee dashed;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5px;
}