html, body {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}
#msgb{padding-bottom:10px;padding-top:10px;}

#answer{width:65px;}
a, a:visited {
	color: #7E1BE0;
	text-decoration: none;
}

#logo {
    width: 240px; 
    padding-top: 15px; 
    padding-left: 110px; 
    font-family: 'Oswald', sans-serif; 
    -moz-user-select:none; 
    cursor: default;
}
#nav {
    -moz-user-select:none; 
}
#topBar {
    height: 70px;
    width: 100%;
    background-color: #c02942;
    position: fixed;
    top: 0;
    z-index: 9999;
}
#tbContent {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
    font-size: 1.8em;
}
#tbContent ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#tbContent ul li {
    float: left;
    min-width: 50px;
    padding-left: 10px;
    padding-right: 10px;
    height: 55px;
    padding-top: 15px;
    font-family: 'Oswald', sans-serif;
}
#tbContent ul li:hover {
    background-color: #572639;
    color: #fff;
    cursor: pointer;
}
#tbContent .active {
    background-color: #542437;
    color: #fff;
}
#tbContent ul li ul li {
    float: none;
    background-color: #c02942;
    display: none;
}
#tbContent ul li:hover .submenu {
    margin-top: 13px;
    display: block;
    z-index: 10;
    position: absolute;
}
#tbBorder {
    height: 40px;
    width: 100%;
    background-color: #542437;
    position: fixed;
    top: 70px;
    z-index: 9998;
    box-shadow: 0px 2px 30px 10px #ddd;
}
#tbBorderContent {
    width: 970px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    padding-top: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    left: 350px;
    position: absolute;
}
#tbBorderContent a {
    color: #fff;
}
#tbBorderContent a:visited {
    color: #fff;
}
.bubbleBar {
    width: 30px;
    font-size: 0.7em;
    font-weight: bold;
    background-color: #a7dbd8;
    margin-right: 20px;
    height: 29px;
    border-radius: 20px;
    padding-top: 1px;
    opacity: 1;
    cursor: pointer;
    -moz-user-select:none;
    text-align: center;
    margin-top: 23px;
}
#wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
}
#quoteBox {
    background-color: #eee;
    min-height: 340px;
    width: 49%;
    border-radius: 10px;
}
#quoteBoxHead {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    padding-left: 20px;
    padding-top: 5px;
}
#quoteBoxContent {
    padding: 20px;
    padding-top: 5px;
    font-family: 'Open Sans', sans-serif;
}
#pictureBox {
    background-color: #eee;
    min-height: 340px;
    width: 49%;
    margin-left: 2%;
    border-radius: 10px;
}
#pictureBoxHead {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    padding-left: 20px;
    padding-top: 5px;
}
#pictureBoxContent {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}
#forumBox {
    background-color: #eee;
    min-height: 300px;
    margin-top: 2%;
    border-radius: 10px;
}
#forumBoxHead {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    padding-left: 20px;
    padding-top: 5px;
}
#forumBoxContent {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

.quoteBoxContainer {
    padding: 10px;
}
.quoteBoxContainer:hover {
    background-color: #fafafa;
    cursor: pointer;
}
.qbcHead {
    font-size: 1.1em;
    border-bottom: 1px #ccc dashed;
}
.qbcContent {
    font-size: 0.8em;
    padding-top: 5px;
    font-style: italic;
}
.pictureBox {
    width: 100px;
    height: 100px;
    float: left;
}
.pbImg img {
    height: 100px;
    width: 100px;
}
.pbImgHover {
    position: absolute;
    z-index: 5;
    margin-top: -105px;
    height: 58px;
    width: 100px;
    background-color: #fff;
    text-align: center;
    padding-top: 42px;
    opacity: 0.7;
    display: none;
}
.pictureBox:hover > .pbImgHover {
    display: block;
    cursor: pointer;
    -moz-user-select:none; 
}
#chatBoxOut{
	z-index: 15;
	position: fixed;
	right: 0;
	bottom: 0;
}


        #alpha {
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: 15;
            font-family: 'Anton', sans-serif;
            color: #E01B7E;
            font-size: 24px;
            margin-left: 20px;
            margin-bottom: 0px;
            -moz-user-select:none;
            cursor: default;
        }

        #overlay {
            z-index: 24;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(../images/overlay.png);
            display: none;
        }

        #clock {
            margin-top: 15px;
            opacity: 0.5;
        }
        .qbcHeadRight {
            display: none;
        }
        .quoteBoxContainer:hover .qbcHeadRight {
            display: block;
        }
        #topBarNoti {
            height: 200px;
            width: 300px;
            background-color: #542437;
            position: fixed;
            top: 110px;
            left: 400px;
            z-index: 9999;
            color: #fff;
            display: none;
        }
        #topBarNotiCont {
            padding: 10px;
            font-family: 'Open Sans Condensed', sans-serif;
        }
        #adminBar {
            height: 36px;
            background: url(../images/bar/bar_02.png) repeat-x;
            bottom: 0;
            position: fixed;
            z-index: 9997;
            width: 100%;
            border-top: 1px #000 solid;
        }
        #adminBarContent {
            width: 1000px;
            margin-left: auto;
            margin-right: auto;
            color: #fff;
        }
        #adminBarContent ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
        }
        #adminBarContent ul li {
            float: left;
            width: 85px;
            padding-top: 8px;
            background: url(../images/bar/bar_04.png) no-repeat;
            padding-left: 20px;
            cursor: pointer;
            border-left: 1px #28363a solid;
            border-right: 1px #000 solid;
            height: 36px;
            margin-left: 20px;
        }
        #adminBarContent ul li:first-child {
            border-left: none;
        }
        #adminBarContent ul li:last-child {
            border-right: none;
        }
        #adminBarContent .adminBubble {
            background: url(../images/bar/bar_06.png) no-repeat;
            height: 23px;
            width: 25px;
            margin-top: -8px;
            padding-top: 7px;
        }
        .table {
            
        }
        .tableHead {
            height: 40px;
            background: url(../images/table/table_03.jpg) repeat-x;
            border-left: 1px #d2d5d7 solid;
            border-right: 1px #d2d5d7 solid;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding-top: 20px;
            text-shadow: 1px 1px 0px #fff, 0px 0px 1px #aaa;
        }
        .tableHeadCol {
            float: left;
            min-width: 200px;
            text-align: center;
        }
        .tableContent {
            height: 50px;
            border-left: 1px #d2d5d7 solid;
            border-right: 1px #d2d5d7 solid;
            text-shadow: 1px 1px 0px #fff, 0px 0px 1px #aaa;
        }
        .tableContentBg1 {
            background: url(../images/table/table_05.jpg) repeat-x;
        }
        .tableContentBg2 {
            background: url(../images/table/table_06.png) repeat-x;
        }
        .tableContentCol {
            float: left;
            min-width: 200px;
            text-align: center;
            border-right: 1px #d2d5d7 solid;
            height: 35px;
            padding-top: 15px;
        }
        .tableHeadCol {
            border-right: none;
        }
        .userBox {
            padding: 10px;
        }
        #userHead {
            font-family: 'Open Sans', sans-serif;
            font-size: 2.5em;
        }
        .username {
            border-bottom: 1px #000 dashed;
            text-shadow: 0px 0px 1px #999;
            padding-right: 50px;
        }
        .ribbon {
            margin-top: -12px;
            margin-right: 20px;
        }